[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/usr/bin/python Temperatura_MQTT_publish.py
WorkingDirectory=/home/pi/Documents
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target